@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.floating-input {
	@apply block w-full px-4 py-3 appearance-none focus:outline-none bg-transparent rounded-lg;
}

.floating-label {
	@apply absolute top-0 px-4 py-3 z-[-1] duration-300 origin-[0%]  bg-white text-gray-900/60;
}

.floating-form-border .floating-input:focus-within ~ label,
.floating-form-border .floating-input:not(:placeholder-shown) ~ label {
	@apply transform scale-75 -translate-y-[.9rem] z-0 ml-3 px-1 py-0;
}

@layer components {
	.form-error-message {
		@apply text-red-500 text-sm block text-center;
	}

	.floating-form-border {
		@apply my-4 relative border rounded-lg border-gray-500 focus-within:border-gray-900;
	}

	.btn-primary {
		@apply bg-black hover:bg-black/80 py-3 text-white w-full shadow-md rounded-lg;
	}
}
